/* TREEHOUSE PHOTO GALLERY PROJECT - MEDIA QUERIES */
/* GENERAL AND SMALL SCREEN STYLINGS LOCATED IN STYLES.CSS */

@media screen and (min-width: 1100px) {
	.pic:active, .pic:focus, .pic:hover {
		box-shadow: 10px 10px 10px rgba(50,50,50,0.5);
	}
	
	.lightboxPic {
		margin-top: 105px;
	}
	
	.captionsWrap p {
		text-align: left;
	}
	
	.arrow {
		top: 300px;
	}
	
	.arrowLeft {
		margin-left: -450px;
	}
	
	.arrowRight {
		margin-left: 415px;
	}
	
	.closeLightbox {
		top: 65px;
		right: auto;
		left: 50%;
		margin-left: 405px;
	}
}